<div class="container">
  <div class="row ">
      <div class="col s12 m6 offset-m3" style="height: 100vh; display: flex; align-items: center;">
        <div class="card-panel z-depth-2 ">
          <p class="title bold teal-text text-darken-4">Acesse sua conta</p>
          <form action="">
              <input type="text" name="email" id="email" placeholder="Informe seu e-mail">
              <input type="password" name="senha" id="senha" placeholder="Informe sua senha">

              <label class="label">
                <input type="checkbox">
                <span>Mostrar senha</span>
              </label>
        
              <div class="card-action">
                <button class="btn-entrar btn waves-effect waves-light teal darken-4" type="submit" name="action">Entrar</button>
              </div>
              <p class="vers">Versão 2.7.1</p>
          </form>
        </div>
      </div>
  </div>  
</div>
